/* ============================
   Reset و تنظیمات پایه
============================ */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
}

.container {
    position: relative;
    width: 80vw;  /* عرض نسبی */
    height: 80vw; /* ارتفاع نسبی */
    font-size: 1vw;
}

/* ============================
   خورشید
============================ */
.sun {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 10%;
    height: 10%;
    border-radius: 50%;
    box-shadow: 0 0 3vw rgb(255, 128, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: orbit 50s linear infinite;
}

.sun img {
    width: 100%;
    height: 100%;
}

/* ============================
   سیارات
============================ */
.mercury,
.venus,
.earth,
.moon,
.mars,
.jupiter,
.saturn,
.uranus,
.neptune,
.pluto {
    position: absolute;
    border-style: solid;
    border-color: white transparent transparent transparent;
    border-width: 0.1vw 0.1vw 0 0;
    border-radius: 50%;
}

/* موقعیت و اندازه سیارات */
.mercury { top: 30%; left: 30%; width: 15%; height: 15%; animation: orbit 68.7s linear infinite; }
.venus   { top: 27%; left: 27%; width: 20%; height: 20%; animation: orbit 48.7s linear infinite; }
.earth   { top: 22%; left: 22%; width: 28%; height: 28%; animation: orbit 36.5s linear infinite; }
.moon    { top: 8%; right: 5%; width: 5%; height: 5%; animation: orbit 2.7s linear infinite; }
.mars    { top: 15%; left: 15%; width: 36%; height: 36%; animation: orbit 26.5s linear infinite; }
.jupiter { top: 5%; left: 5%; width: 45%; height: 45%; animation: orbit 21s linear infinite; }
.saturn  { top: -5%; left: -5%; width: 55%; height: 55%; animation: orbit 17s linear infinite; }
.uranus  { top: -10%; left: -10%; width: 65%; height: 65%; animation: orbit 19s linear infinite; }
.neptune { top: -15%; left: -15%; width: 75%; height: 75%; animation: orbit 15s linear infinite; }
.pluto   { top: -20%; left: -20%; width: 85%; height: 85%; animation: orbit 18s linear infinite; }

/* ============================
   تصاویر سیارات
============================ */
.mercury::before,
.venus::before,
.earth::before,
.moon::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.pluto::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-size: cover;
}

.mercury::before { top: 10%; right: 5%; width: 4%; height: 4%; background-image: url('./images/mercury.png'); }
.venus::before   { top: 10%; right: 5%; width: 5%; height: 5%; background-image: url('./images/venus.png'); }
.earth::before   { top: 10%; right: 0%; width: 6%; height: 6%; background-image: url('./images/earth.png'); }
.moon::before    { top: 2%; right: 1%; width: 2%; height: 2%; background-image: url('./images/moon.png'); }
.mars::before    { top: 15%; right: 5%; width: 4%; height: 4%; background-image: url('./images/mars.png'); }
.jupiter::before { top: 10%; right: 5%; width: 6%; height: 6%; background-image: url('./images/jupiter.png'); }
.saturn::before  { top: 12%; right: 8%; width: 5%; height: 5%; background-image: url('./images/saturn.png'); }
.uranus::before  { top: 15%; right: 10%; width: 4%; height: 4%; background-image: url('./images/uranus.png'); }
.neptune::before { top: 18%; right: 12%; width: 4%; height: 4%; background-image: url('./images/neptune.png'); }
.pluto::before   { top: 20%; right: 15%; width: 3%; height: 3%; background-image: url('./images/pluto.png'); }

/* ============================
   انیمیشن
============================ */
@keyframes orbit {
    to {
        transform: rotate(360deg);
    }
}

/* ============================
   مدیا کوئری موبایل
============================ */
@media (max-width: 600px) {
    .container {
        width: 95vw;
        height: 95vw;
    }
    .sun { width: 12vw; height: 12vw; top: 42%; left: 42%; }
    .mercury, .venus, .earth, .moon, .mars, .jupiter, .saturn, .uranus, .neptune, .pluto {
        width: 12vw; height: 12vw;
    }
    .mercury::before, .venus::before, .earth::before, .moon::before, .mars::before,
    .jupiter::before, .saturn::before, .uranus::before, .neptune::before, .pluto::before {
        width: 4vw; height: 4vw;
    }
}
