body {
    margin: 0;
    background: black;
    overflow: hidden;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: min(90vh, 90vw);
    height: min(90vh, 90vw);
    transform: translate(-50%, -50%);
}

/* خورشید */
.sun {
    position: absolute;
    width: 12%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.sun img {
    width: 100%;
}

/* مدارها */
.orbit {
    position: absolute;
    border: 1px dashed rgba(255,255,255,.4);
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.orbit .planet {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.orbit .planet img {
    width: 12%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

/* اندازه مدارها */
.mercury { width: 20%; height: 20%; animation: spin 4s linear infinite; }
.venus   { width: 30%; height: 30%; animation: spin 10s linear infinite; }
.earth   { width: 40%; height: 40%; animation: spin 16s linear infinite; }
.mars    { width: 50%; height: 50%; animation: spin 30s linear infinite; }
.jupiter { width: 62%; height: 62%; animation: spin 50s linear infinite; }
.saturn  { width: 74%; height: 74%; animation: spin 80s linear infinite; }
.uranus  { width: 86%; height: 86%; animation: spin 120s linear infinite; }
.neptune { width: 100%; height: 100%; animation: spin 200s linear infinite; }

/* انیمیشن چرخش */
@keyframes spin {
    to { transform: translate(-50%, -50%) rotate(360deg); }
}